In [1]:
#coding=utf-8

"""
Author: wepon (http://2hwp.com/)
Code: https://github.com/wepe/DataCastle-Solution

"""

import numpy as np
import pandas as pd
import matplotlib.pylab as plt

In [4]:
#train data
train = pd.read_csv('C:/Users/admin/Desktop/DataCastle-Solution-master/code/data/train_x_null.csv')[['uid','n_null']]
train.head()

     uid  n_null
0   1792      44
1   4211     156
2  14658     175
3  17041     165
4  15765      45

In [6]:
train_y = pd.read_csv('C:/Users/admin/Desktop/DataCastle-Solution-master/code/data/train_y.csv')
train_y.head()

     uid  y
0   1792  1
1   4211  1
2  14658  1
3  17041  1
4  15765  1

In [ ]:
train = pd.merge(train,train_y,on='uid')
train = train.sort(columns='n_null')

In [ ]:
train_unlabel = pd.read_csv('C:/Users/admin/Desktop/DataCastle-Solution-master/code/data/train_unlabeled_null.csv')[['uid','n_null']]
train_unlabel = train_unlabel.sort(columns='n_null')

In [9]:
test = pd.read_csv('C:/Users/admin/Desktop/DataCastle-Solution-master/code/data/test_x_null.csv')[['uid','n_null']]
test = test.sort(columns='n_null')
test.head()
test.tail()

d:\Users\admin\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

        uid  n_null
4085  16422     318
2546  10127     583
4872  19541    1050
2528  10083    1050
1506   5992    1050

In [ ]:
t = train.n_null.values


y = train.y.values
y0 = [ i+1-sum(y[0:i+1]) for i in range(len(y))]
x = range(len(t))
plt.scatter(x,t,c='k')
plt.plot(x,y0,c='b')
plt.title('train set')
plt.show()


t = train_unlabel.n_null.values
x = range(len(t))
plt.scatter(x,t,c='k')
plt.title('unlabeled set')
plt.show()


t = test.n_null.values
x = range(len(t))
plt.scatter(x,t,c='k')
plt.title('test set')
plt.show()