In [3]:
#coding=utf-8

"""
Author: wepon (http://2hwp.com/)
Code: https://github.com/wepe/DataCastle-Solution

"""
#loading packages
import pandas as pd

In [5]:
#加载数据 train  handling data
train_x = pd.read_csv('C:/Users/admin/Desktop/DataCastle-Solution-master/code/data/train_x_discretization.csv')
train_x.head()

,dx1,dx2,dx3,dx4,dx5,dx6,dx7,dx8,dx9,dx10,...,dx1098,dx1099,dx1100,dx1101,dx1102,dx1103,dx1104,dx1105,dx1106,uid
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1792
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4211
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,14658
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,17041
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,15765

In [7]:
# test handling data
test_x = pd.read_csv('C:/Users/admin/Desktop/DataCastle-Solution-master/code/data/test_x_discretization.csv')
test_x.head()

,dx1,dx2,dx3,dx4,dx5,dx6,dx7,dx8,dx9,dx10,...,dx1098,dx1099,dx1100,dx1101,dx1102,dx1103,dx1104,dx1105,dx1106,uid
0,9.0,5.0,2.0,6.0,5.0,5.0,4.0,7.0,5.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,1
1,7.0,6.0,10.0,5.0,5.0,3.0,2.0,8.0,4.0,8.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,2
2,2.0,2.0,2.0,4.0,5.0,9.0,10.0,3.0,6.0,1.0,...,10.0,9.0,9.0,9.0,9.0,8.0,9.0,8.0,9.0,9
3,6.0,1.0,2.0,1.0,5.0,4.0,2.0,6.0,6.0,6.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,12
4,3.0,8.0,10.0,7.0,7.0,7.0,4.0,6.0,4.0,1.0,...,10.0,7.0,8.0,7.0,6.0,6.0,7.0,6.0,7.0,14

In [9]:
#train handling unlabeled data
train_unlabeled_x =  pd.read_csv('C:/Users/admin/Desktop/DataCastle-Solution-master/code/data/train_unlabeled_discretization.csv')
train_unlabeled_x.head()

,dx1,dx2,dx3,dx4,dx5,dx6,dx7,dx8,dx9,dx10,...,dx1098,dx1099,dx1100,dx1101,dx1102,dx1103,dx1104,dx1105,dx1106,uid
0,7.0,7.0,4.0,5.0,3.0,9.0,2.0,7.0,3.0,7.0,...,9.0,6.0,6.0,5.0,6.0,7.0,4.0,6.0,5.0,20001
1,8.0,5.0,10.0,7.0,5.0,4.0,4.0,7.0,8.0,8.0,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,20002
2,10.0,1.0,1.0,2.0,4.0,7.0,2.0,10.0,9.0,10.0,...,9.0,6.0,6.0,6.0,7.0,9.0,7.0,6.0,5.0,20003
3,8.0,3.0,1.0,5.0,10.0,5.0,9.0,8.0,6.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,20004
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,20005

In [11]:
# train_x 
train_x['n1'] = (train_x==1).sum(axis=1)#1列，0行
train_x['n2'] = (train_x==2).sum(axis=1)
train_x['n3'] = (train_x==3).sum(axis=1)
train_x['n4'] = (train_x==4).sum(axis=1)
train_x['n5'] = (train_x==5).sum(axis=1)
train_x['n6'] = (train_x==6).sum(axis=1)
train_x['n7'] = (train_x==7).sum(axis=1)
train_x['n8'] = (train_x==8).sum(axis=1)
train_x['n9'] = (train_x==9).sum(axis=1)
train_x['n10'] = (train_x==10).sum(axis=1)
train_x.head()

,dx1,dx2,dx3,dx4,dx5,dx6,dx7,dx8,dx9,dx10,...,n1,n2,n3,n4,n5,n6,n7,n8,n9,n10
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1045,0,0,0,0,0,0,0,0,0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1045,0,0,0,0,0,0,0,0,0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1045,0,0,0,0,0,0,0,0,0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1045,0,0,0,0,0,0,0,0,0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1045,0,0,0,0,0,0,0,0,0

In [12]:
#train_x的n1-n10相加
train_x[['uid','n1','n2','n3','n4','n5','n6','n7','n8','n9','n10']].to_csv('C:/Users/admin/Desktop/DataCastle-Solution-master/code/data/train_x_nd.csv',index=None)

In [13]:
test_x['n1'] = (test_x==1).sum(axis=1)
test_x['n2'] = (test_x==2).sum(axis=1)
test_x['n3'] = (test_x==3).sum(axis=1)
test_x['n4'] = (test_x==4).sum(axis=1)
test_x['n5'] = (test_x==5).sum(axis=1)
test_x['n6'] = (test_x==6).sum(axis=1)
test_x['n7'] = (test_x==7).sum(axis=1)
test_x['n8'] = (test_x==8).sum(axis=1)
test_x['n9'] = (test_x==9).sum(axis=1)
test_x['n10'] = (test_x==10).sum(axis=1)
test_x[['uid','n1','n2','n3','n4','n5','n6','n7','n8','n9','n10']].to_csv('C:/Users/admin/Desktop/DataCastle-Solution-master/code/data/test_x_nd.csv',index=None)

In [ ]:
train_unlabeled_x['n1'] = (train_unlabeled_x==1).sum(axis=1)
train_unlabeled_x['n2'] = (train_unlabeled_x==2).sum(axis=1)
train_unlabeled_x['n3'] = (train_unlabeled_x==3).sum(axis=1)
train_unlabeled_x['n4'] = (train_unlabeled_x==4).sum(axis=1)
train_unlabeled_x['n5'] = (train_unlabeled_x==5).sum(axis=1)
train_unlabeled_x['n6'] = (train_unlabeled_x==6).sum(axis=1)
train_unlabeled_x['n7'] = (train_unlabeled_x==7).sum(axis=1)
train_unlabeled_x['n8'] = (train_unlabeled_x==8).sum(axis=1)
train_unlabeled_x['n9'] = (train_unlabeled_x==9).sum(axis=1)
train_unlabeled_x['n10'] = (train_unlabeled_x==10).sum(axis=1)
train_unlabeled_x[['uid','n1','n2','n3','n4','n5','n6','n7','n8','n9','n10']].to_csv('C:/Users/admin/Desktop/DataCastle-Solution-master/code/data/train_unlabeled_nd.csv',index=None)